@model Parcial_3.Models.SucursalesModel

@{
    ViewBag.Title = "Update";
    Layout = "~/Views/_LayoutAdmin/_LayoutAdmin.cshtml";
}

<h2 class="text-white my-5 pl-5">Editar sucursal</h2>

<div class="container">
    <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label text-white">Nombre sucursal</label>
            <input type="text" class="form-control" id="nombre" aria-describedby="emailHelp" value="@ViewBag.name">
            <div id="emailHelp" class="form-text text-white">Colocar el nombre de la sucursal.</div>
        </div>
        <div class="mb-3 form-check text-center">
            <input type="checkbox" class="form-check-input" id="active">

<label class="form-check-label text-white" for="exampleCheck1">Activo</label>
        </div>
        <div class="text-center my-5">
            <button type="submit" class="btn btn-lg btn-primary" id="frm">Editar</button>
        </div>
    </form>
</div>

<div class="pl-5">
    <a href="/Sucursules/index" class="btn btn-warning text-white">Regresar</a>
</div>

<script>
    
    $(document).ready(function () {
        $("#active").prop('checked',@ViewBag.active == 1 ? true : false);
    });

    $("#frm").click(function (e) {
                        e.preventDefault()
        url = "@Url.Content("~/Sucursules/UpdatePost")"
        let parametros = {
            "name_branch": document.getElementById("nombre").value,
            "active": $("#active").prop("checked") ? 1 : 0,
            "id": @ViewBag.id,
        }
        /*$.post(url, parametros, function (data) {
                        if (data == "1") {*/
                            //document.location.href = "@Url.Content("~/Sucursules/Index")";
                        /*} else {
                            console.log("Error al insertar")
            }
                    })*/
        let settings = {
            "url": "http://localhost:61212/api/branchoffice/"+@ViewBag.id,
            "method": "PUT",
            "timeout": 0,
            "headers": {
                "Content-Type": "application/json"
            },
            "data": JSON.stringify(parametros),
        };

        $.ajax(settings).done(function (response) {
            if (response) {
                           document.location.href = "@Url.Content("~/Sucursules/Index")";
                        } else {
                            console.log("Error al insertar")
            }
        });
    })



</script>


